.gosyuin_message {
  animation-name: fadedown;
  animation-duration: 3s;

}

@keyframes fadedown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.gosyuin {
  width: 500px;
  margin: auto;
  height: 800px;
  display: flex;
  gap: 0px 105px;
  background-image: image-url("/gosyuin.png");
  background-repeat: no-repeat;
  background-size: 500px 800px;
  font-size: 50px;
  font-weight: bold;
  animation-name: fadedown;
  animation-duration: 3s;

 
  font-family: "STKaiti", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
  .gosyuin_shinto {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
    display: flex;
    gap: 105px 0px;
    flex-direction: column;
    .gosyuin_name {
      margin: 0 auto;
    }
    .gosyuin_day {
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      text-orientation: upright;
      font-size: 40px;
      width: 100px;
      height: 500px;
      margin: auto;
    }

  }
  
}



#magazine{
	width:800px; 
	height:600px; 
  background-repeat: no-repeat;
  background-size: 800px 600px;
}

#magazine .turn-page{
	width:400px; 
	height:400px;
  background-color: bisque;
}



.gosyuin_hard_reverse {
  background-size: 400px 600px;
  background-image: image-url("/gosyuin_hard_reverse.png");
}
.gosyuin_book {
  display: flex;
  margin: auto;
  font-size: 50px;
  font-family: "STKaiti", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
  width: 800px;
  height: 600px;
  border-radius: 15%;
  .gosyuin_page {
    background-image: image-url("/gosyuin.png");
    background-repeat: no-repeat;
    background-size: 400px 600px;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
    display: flex;
    flex-direction: column;
    gap: 0px 125px;
    .dammy_div {
      width: 155px;
    }
    .gosyuin_book_name {
      margin: auto ;
    }
    .gosyuin_book_day {
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      text-orientation: upright;
      font-size: 37px;
      width: 100px;
      height: 500px;
      margin: auto ;
    }

  }
}

.gosyuin_hard {
  background-image: image-url("/gosyuin_hard.png");
  background-repeat: no-repeat;
  background-size: 400px 600px;
  border-radius: 0;
}