.shinto_review {
  padding-top: 10px;
  width: 70%;
  border-radius: 15px;
  background-color: floralwhite;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 80px;
}

.table-hover {
  border-collapse: separate;
  tr {
    height: 65px;
    border-radius: 20px;
    background-color: floralwhite;
  }
  
  th {
    padding-left: 8px;
    border-radius: 20px 0 0 20px;
    padding-right: 15px;
  }
  
  td {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 0 20px 20px 0;
  }
  
}

.shinto_param_memo {
  width: 100%;
  padding: 0;
  margin: 0;
}

.shinto_index_container {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.card-img {
  height: 120px;
}

.shinto_img {
  padding: 25px;
}
  
.shinto_picture {
  margin-top: 30px;
  height: 250px;
  width: auto;
}

.shinto_show1 {
  margin-bottom: 50px;
}

.shinto_show2 {
  height: 400px;
  overflow: auto;
}

.float {
  float: right;
  position: relative;
}

.review_card {
  margin: auto;
}

.review_card_param {
  width: 600px;
  margin: auto;
}

.review_flex {
  display: flex;
}

.card_param_flex {
  display: flex;
  flex-direction: column;
}

.review_form {
  margin-top: 50px;
  margin-bottom: 30px;
}

.worshipContainer {
  transition: all .1s;
  &:hover {
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.3);
    border-color: transparent;
  }
}

.shinto_jumbotron {
  max-width: 1000px !important;
}