.shinto_review {
  background-color: bisque;
  padding-top: 10px;
}

.shinto_param_memo {
  width: 100%;
  padding: 0;
  margin: 0;
}

.shinto_index_container {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.card-img {
  height: 120px;
}

.shinto_img {
  padding: 25px;
}
  