.user_card {
  margin: auto;
  cursor: pointer;

    .card-body {
    font-size: 0.75rem;
    &:hover {
      opacity: 0.7;
    }
  }
  a {
    text-decoration: none;
  }
}

.user_index_image {
  height: 180px;
  width: 180px;
  margin: 30px;
}

.user_container {
  max-width: 800px;
}

.follow_form {
  display: inline-block;
  margin-left: 10px;
}

.user_card_footer {
  padding: 10px;
}