.custom-file-label:after {
  content: "参照";
}

.worshipImage {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.form-control {
  padding: 0;
}

.nested-fields {
  max-width: 1000px;
  margin: auto;
  margin-top: 30px;
}

.worship_params_card {
  min-height: 350px;
}

.worship_card {
  width: 80%;
  margin: auto;
  cursor: pointer;
  transition: all .1s;
  &:hover {
    opacity: 1.0;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
    border-color: transparent;
  }
    .card-body {
    font-size: 0.75rem;
  }
  a {
    text-decoration: none;
  }

  margin-bottom: 30px;
}

.worship_star_row {
  height: 15px;
}

.worship_index_img {
  width: 80%;
  height: 180px;
  img {
    height: 180px;
    margin-top: 15px;
    width: auto;
    display: block;
  }

}

.worship_memo_text {
  margin-top: 20px;
}


.contact_confirm {
  font-size: 1.5rem;
  margin-bottom: 20px;

}

.confirm_params {
  margin-top: 30px;
}

.confirm_memo {
  margin-top: 30px;
  margin-bottom: 20px;
}

.worship_img {
  height: 180px;
  width: 180px;
  display: inline-block;
}

.worship_show_card {
  width: 75%;
  margin: auto;
}

.worship_param_show {
  height: 400px;
  overflow: auto;
}

.worship_param_shows {
  font-size: x-small;
}



.inline_block {
  display: inline-block;
}

.picture_size {
  height: 250px;
  display: inline-block;
  margin: auto;
}

.custom-file-label {
  overflow: hidden;
  font-size: 15px;
  font-weight: bold;
  padding-left: 20px;
  text-align: left;
}


.custom-file-input {
  &:hover {
    cursor: pointer;
  }
}

.worship_info {
  margin-top: 50px;
  margin-bottom: 30px;
}

.ui-datepicker-calendar {
  tr {
    height: 10px;
  }
}

.confirm {
  width: 600px;
  height: 600px;
  margin: auto;
  overflow: auto;
  
}


.worship_header {
  display: flex;
  justify-content: space-around;
}


.worship_header_items {
  padding-top: 10px;
}

.worship_jumbotron  {
  max-width: 600px;
  background-color: floralwhite;
  margin: auto;
  margin-bottom: 25px;
  
}

.worship_info {
  min-width: 500px;
  padding-left: 30px;
}

