@import "fullcalendar";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "jquery-ui/datepicker";
@import "jquery-ui/core";
@import "jquery-ui/theme";
@import "main/*";

body {
  margin: 60px;
  color: black;
  text-align: center;
  background-image: url("/名称未設定のデザイン.png");
  background-size: cover;
  min-height: 100vh;
  min-width: 80vw;
}

a:link, a:visited, a:hover, a:active {
  color: black;
}

.nav-item {
  margin-right: 20px;
  color: black;
}
img {
  max-width: 100%;
  height: auto;
  width /***/:auto;
  }


.navbar {
  opacity: 0.9;
  z-index: 10;
}

.navbar-nav li{
	font-size:1rem;
  padding-top: 30px;
  text-align: center;
  margin-right: 20px;
  & a {
    text-decoration: none;
    color: black;
    height: 30px;
  }
}

table {
  border-collapse: separate;
  border-spacing: 0px 35px;
  margin: auto;
}

tr {
  height: 65px;
  background-color: snow;
  opacity: 0.7;
}

.navbar-nav li> a:before{/*ナビゲーションメニュー共通の設定*/
	display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-align: center;
  margin-right: 15px;
}

.nav-item1 > a:before{/*各項目ごとのアイコン設定*/
	content: '\f2bd';
  font-size: 2.5rem;
  height: 50px;
}


.nav-item2 > a:before{/*各項目ごとのアイコン設定*/
  font-size: 2.5rem;
  // font-family:  "Font Awesome 5 Free";
  font-weight:  900;
  content: "\f6a1";
  height: 50px;
}
.nav-item3 > a:before{/*各項目ごとのアイコン設定*/
	content: '\f0c0';
  font-size: 2.5rem;
  height: 50px;
}
.nav-item4 > a:before{/*各項目ごとのアイコン設定*/
	content: '\f2f5';
  font-size: 2.5rem;
  height: 50px;
}

.nav-item1 {
  padding-top: 30px;
  &:hover {
    opacity: 0.6;
  }
}

.nav-item2 {
  font-weight:  400;
  padding-top: 30px;
  &:hover {
    opacity: 0.6;
  }
}
#dropdownMenuButton {
  padding-top: 8px;
  margin-top: 12px;
  margin-left: 20px;
  z-index: 10;
}

.dropdown {
  padding-top: 8px;
  margin-top: 12px;
  margin-left: 15px;
  position: relative;
}

.drawer-hamburger{
  margin-top: 220px;
  margin-left:70px;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:after,
.drawer-hamburger-icon:before {
    height: 3px;
}

.drawer-navbar-header {
  margin-left: 200px;
  z-index: 2;
}

.worshipAdmin {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 40px;
  margin-right: 60px;
  margin-bottom: 60px;
  z-index: 3;
  border-radius: 50%;
  background-color: lightblue;
  opacity: 0.8;
}


.form-row {
  min-width: 350px;
  margin: 25px;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.loginOrSignin {
  padding: 20px;
}

.loginOrSigninButton {
  width: 150px;
}

.guestloginButton {
  margin-top: 30px;
  margin-bottom: 40px;
}

.topButton {
  margin: 20px;
  margin-top: 40px;
}

.topimg {
  margin-top: 70px;
}

.character_limit {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

